#root {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twoLines {
  margin-bottom: 2px;
}
.base h3 {
  padding: 10px;
  margin: 0;
}
.base {
  margin: 20px;
}
.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.cards button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 230px;
}
button {
  list-style-type: none;
  border: 1px solid #405668;
  padding: 20px;
  border-radius: 10px;

  flex: 1;
}
img {
  width: 100%;
  margin-bottom: 30px;
}
.tecnico {
  width: 200px;
}
.sanjuan {
  color: #00c5cc;
}
.oneLogo {
  height: 50px;
  width: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tecnico {
  border-radius: 50%;
}
.otros {
  margin-bottom: 0;
}
button {
  box-shadow: 0 0 30px 10px #6dc5ff10;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.titleSelect {
  box-shadow: 0 0 10px 3px #0099ff3f;
  background-color: #6aceb0;
  border-radius: 40px;
  padding: 10px;
  color: #152142;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.price {
  color: #9cfcc4;
}

.total {
  margin-top: 60px;
}
